@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.footerWrap{
    width: 100%;
    height: 120px;
    background-color: #181818;
    padding: 20px;
}

.info{
    font-family: 'Noto Sans KR', sans-serif; 
    color: white;
}